header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-flex;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
  color: white;
}
.h1 {
  margin: 50px;
}
.rudi {
  background-color: #292929;
  width: 180px;
  height: 150px;
  margin: auto;
  justify-content: initial;
  border-radius: 8px;
  box-shadow: 3px 6;
  padding: 20px;
}
.rudi:hover {
  transform: scale(1.2);
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rudi a {
  text-decoration: none; /* Link aláhúzás eltüntetése */
  color: white; /* Link színének beállítása */
}
